[submodule "WASM/pq/mldsa-native"]
	path = WASM/pq/mldsa-native
	url = https://github.com/pq-code-package/mldsa-native.git
[submodule "WASM/pq/mlkem-native"]
	path = WASM/pq/mlkem-native
	url = https://github.com/pq-code-package/mlkem-native.git
